<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
  <title>Please Login</title>
 </head>
 <body>

 <h2 style="border-bottom:1px solid black;">Please Login ..</h2>
 <blockquote>
   <form action="/cgi-bin/quarantine.cgi" method="POST">
   <table>
    <tr>
     <td>Password</td>
     <td><input type="password" name="passwd" value=""></td>
    </tr>
    <tr><td></td><td><input type="submit" name="submit" value="Login"></td></tr>
   </table>
    </form>
 </blockquote>

 </body>
</html>
